html {
  background-color: #73ABF8;
}
body {
  width: 550px;
  margin: 10px auto ;
  background-color: #FF8CF9;
  padding: 10px 20px 10px 20px;
  border: 5px dotted black;
}
h1 {
  font-size: 50px;
  text-align: center;
}

p, li {
  font-size: 20px;    
  line-height: 1.5;
  letter-spacing: 1.5px;
}
img {
  display: block;
  margin: 2px auto;
}