.grid 
{
    max-width: 100%;
    background-color:#FF9933;
    margin: 0px;
    padding: 50px ;
	display:grid;
	grid-column-gap:150px;
	grid-row-gap:20px;
    position: relative;
    
}
  
article
{
	  width:100%;
	   grid-column: 1/6;  
    
}

article h1
{
    color: black;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
  
aside
{
	width: 100%; 
    grid-column: 6;
    text-align: justify;
 
}

aside h2
{
    color: white;
    font-size: 40px;
    text-align: center;
    
}

.photos
{
    list-style: none;
    margin: 0;
    padding: 0px;
	display:grid;
	grid-gap:15px;
    grid-template-columns:repeat(2,1fr);	
	grid-template-rows:repeat(3,1fr);
	
  }